/* font setup */
@font-face {
    font-family: 'Helvetica Now';
    src: url(../fonts/HelveticaNowText-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Helvetica Now';
    src: url(../fonts/HelveticaNowText-Bold.ttf);
    font-weight: bold;
}

/* for return header at top*/
.return {
    font-family: 'Helvetica Now', serif;
}


/* text box related */
.box {
    padding: 10px;
    margin: 0 0 10px 0;
    max-width: 630px;

    border-radius: 10px;

    font-family: sans-serif;
    line-height: 125%;
}

.box.no-clear {
    clear: none;
    height: auto;
    opacity: 1;
}

.box.clear {
    clear: both;
    height: auto;
    opacity: 1;
}

.box.sunny {
    background: rgba(240, 240, 240, 1);
    color: black;
    border: rgba(200, 200, 200, 1);
    border-style: solid;

    float: left;

    text-align: left;
}

.box.aubrey {
    background: rgba(253, 198, 255, 1);
    color: black;
    border: rgba(177, 113, 179, 1);
    border-style: solid;

    float: left;

    text-align: left;
}

.box.kel {
    background: rgba(255, 229, 189, 1);
    color: black;
    border: rgba(214, 171, 104, 1);
    border-style: solid;

    float: left;

    text-align: left;
}

.box.hero {
    background: rgba(211, 225, 251, 1);
    color: black;
    border: rgba(84, 115, 173, 1);
    border-style: solid;

    float: left;

    text-align: left;
}

.box.mari {
    background: rgba(221, 191, 254, 1);
    color: black;
    border: rgba(151, 107, 200, 1);
    border-style: solid;

    float: left;

    text-align: left;
}

.box.basil {
    background: rgba(214, 253, 226, 1);
    color: black;
    border: rgba(108, 216, 141, 1);
    border-style: solid;

    float: left;

    text-align: left;
}

.box.author {
    background: black;
    color: white;

    float: right;

    text-align: right;
}

.fic-box {
    background: darkgray;
    color: white;
    border-radius: 10px;
    border-width: 5px;
    border-style: inset;

    padding: 10px;
    margin: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
}

.break {
    float: none;
    clear: both;
    font-size: 10px;
}

.image-100x100 {
    height: 100px;
    width: 100px;
}

/* text formatting related */
.def {
    text-align: left;
    font-size: medium;
    line-height: 200%;
    display: inline-block;
}

.sans-serif {
    font-family: sans-serif;
}

.mono {
    font-family: monospace;
}

.def.indent {
    text-indent: 0.5in;
}

.def.pad-left {
    padding-left: 0.5in;
}

.def.dialog {
    padding-left: 1.0in;
}